/DirectX12_DrawPerapoly/.vs
/DirectX12_DrawPerapoly/Debug
/DirectX12_DrawPerapoly/x64
/DirectX12_DrawPerapoly/DirectX12_DrawColor/Debug
/DirectX12_DrawPerapoly/DirectX12_DrawColor/x64
/DirectX12_DrawPerapoly/x64
/.vs
/x64
